body {
    margin: 0;
    background-color: #040404;
    color: rgb(39, 160, 160);
   }
   
   body, input, a {
    font-family: sans-serif
   }
   
   header {
    text-align: center
   }
   
   main {
    max-width: 600px;
    margin: 0 auto;
    background-color: #040404;
    color: rgb(39, 160, 160);
   }
   
   p {
    margin: 1em
   }
   label {
    display: block;
    font-size: small;
    font-weight: bold
   }
   
   label>* {
    display: block;
    width: 100%
   }

   footer{
       text-align: center;
   }
      